{% extends 'base.html' %}

{% block content %}
<h2>DETAIL</h2>
<h3>{{ article.pk }} 번째 글</h3>
<hr>
<p>제목 : {{ article.title }}</p>
<p>내용 : {{ article.content }}</p>
<p>작성시각 : {{ article.created_at }}</p>
<p>수정시각 : {{ article.updated_at }}</p>
<hr>
{% if user == article.user %}
<a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
{% endif %}
<a href="{% url 'articles:index' %}">[back]</a>
<hr>
<h4>댓글 목록</h4>
<ul>
  {% for comment in comments %}
  <li id="comment-list" data-comment-pk="{{comment.pk}}">
    {{ comment.user }} - <span>{{ comment.content }}</span>
    {% if user == comment.user %}
    <form id="form-delete" data-comment-cntt="{{comments.count}}" data-comment-pk="{{comment.pk}}" data-article-pk="{{article.pk}}" class="d-inline">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
    <button id="comment-update">수정</button>
    {% endif %}
  </li>
  {% empty %}
  <p>댓글이 없어요..</p>
  {% endfor %}
</ul>

<hr>
{% if request.user.is_authenticated %}
<form id="comment-form" data-article-id="{{article.pk}}" data-user-id="{{request.user.pk}}"
  data-user-username="{{request.user.username}}">
  {% csrf_token %}
  {{ comment_form }}
  <input type="submit">
</form>
{% else %}
<a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('#comment-form')
  const input = document.querySelector('[name=content]')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  const commentDel = document.querySelectorAll('#form-delete')

  const commentList = document.querySelector('h4')
  const commentCnt = document.createElement('h6')
  commentList.appendChild(commentCnt)
  commentCnt.innerText = `{{comment_count}}개의 댓글이 있습니다.`



  commentDel.forEach((dBtn) => {
    dBtn.addEventListener('submit', function (event) {
      const articlePk = event.target.dataset.articlePk
      const commentPk = event.target.dataset.commentPk
      const commentCntt = event.target.dataset.commentCntt
      

      event.preventDefault()

      axios({
        method: 'post',
        url: `/articles/${articlePk}/comments/${commentPk}/delete/`,
        headers: { 'X-CSRFToken': csrftoken },
      })
        .then((res) => {
          event.target.parentNode.remove()
          commentCnt.innerText = `${res.data.co_cnt}개의 댓글이 있습니다.`

        })
        .catch((error) => {
          console.log(error)
        })
    })
  })

  const deleteComment = function (event) {
    axios({
      method: 'post',
      url: `/articles/${event.target.dataset['articlePk']}/comments/${event.target.dataset['commentPk']}/delete/`,
      headers: { 'X-CSRFToken': csrftoken },
    })
      .then((res) => {
        event.target.parentNode.remove()
        commentCnt.innerText = `${res.data.co_cnt}개의 댓글이 있습니다.`

      })
    // .catch((error) => {
    //   console.log(error)
    // })
  }




  form.addEventListener('submit', function (event) {
    event.preventDefault()
    // 이곳에 코드를 작성하세요
    const articleId = event.target.dataset.articleId
    const userId = event.target.dataset.userId
    const username = event.target.dataset.userUsername

    let data = new FormData()
    data.append('content', input.value)

    axios({
      method: 'post',
      url: `/articles/${articleId}/comments/`,
      data: data,
      headers: { 'X-CSRFToken': csrftoken },
    })
      .then((res) => {
        const commentList = document.querySelector('ul')
        const li = document.createElement('li')
        li.innerHTML = `${username} - <span>${input.value}</span>`

        li.setAttribute('data-comment-pk', `${res.data.comment_pk}`)
        const updateButton = document.createElement('button')
        updateButton.innerText = '수정'
        updateButton.setAttribute('id', 'comment-update')

        const deleteButton = document.createElement('button')
        deleteButton.innerText = 'DELETE'
        deleteButton.setAttribute('data-article-pk', `${articleId}`)
        deleteButton.setAttribute('data-comment-pk', `${res.data.comment_pk}`)

        deleteButton.addEventListener('click', deleteComment)



        li.appendChild(deleteButton)
        li.appendChild(updateButton)
        commentList.appendChild(li)


        input.value = ''

        updateButton.addEventListener('click', updateToggle)
        commentCnt.innerText = `${res.data.c_cnt}개의 댓글이 있습니다.`

      })
  })


  const updateToggle = function (event) {
    const targetComment = event.target.parentNode
    const updateInput = document.createElement('input')
    updateInput.value = targetComment.childNodes[1].innerText
    updateInput.name = 'content'

    const updateBtn = document.createElement('button')
    updateBtn.innerText = 'update'

    updateBtn.addEventListener('click', event => {
      event.preventDefault()
      const { commentPk } = event.target.parentNode.dataset
      let data = new FormData()
      data.append('content', updateInput.value)

      axios({
        method: "POST",
        url: `/articles/{{ article.pk }}/comments/${commentPk}/update/`,
        data,
        headers: { 'X-CSRFToken': csrftoken }
      })
        .then((res) => {
          const { commentPk, articlePk, commentCount } = res.data

          const commentList = document.querySelector('h4')
          const commentCnt = document.querySelector('h6')
          commentCnt.innerText = `${commentCount}개의 댓글이 있습니다.`


          targetComment.innerText = '{{ request.user.username }} - '

          const span = document.createElement('span')
          span.innerText = `${updateInput.value} `

          const newDeleteBtn = document.createElement('input')
          newDeleteBtn.setAttribute('type', 'submit')
          newDeleteBtn.value = 'DELETE'
          newDeleteBtn.setAttribute('data-article-pk', `${articlePk}`)
          const newUpdateBtn = document.createElement('button')
          newUpdateBtn.innerText = '수정'
          newUpdateBtn.setAttribute('id', 'comment-update')

          newDeleteBtn.setAttribute('data-comment-pk', `${commentPk}`)
          newDeleteBtn.addEventListener('click', deleteComment)
          newUpdateBtn.addEventListener('click', updateToggle)

          targetComment.append(span, newDeleteBtn, newUpdateBtn)
        })
    })

    targetComment.innerText = ''
    targetComment.append(updateInput, updateBtn)
  }

  const updateB = document.querySelectorAll('#comment-update')

  updateB.forEach((upBtn) => {
    upBtn.addEventListener('click', updateToggle)
  })
</script>
{% endblock script %}