<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> 공유 1 </h1>
  <a href="{% url 'movies:index' %}">movie index로</a>
  <a href="{% url 'articles:index' %}">articles index로</a>
  {% comment %} <a href="/movies/index/">movie index로</a> {% endcomment %}
  {% comment %} <a href="/articles/index/">articles index로</a> {% endcomment %}
  <a href="{% url 'articles:hello' '홍길동' 20 %}">articles hello로</a>
  {% comment %} <a href="/articles/hello/tom/20">articles hello로</a> {% endcomment %}
  {% block content %}
  
  {% endblock content %}
  <h1> 공유 2 </h1>
</body>
</html>